.jumbotron-title {
  text-align: center;
}

.carousel-item img {
  height: 350px;
}

.section-light {
  background: #eceeef;
  padding: 2rem;
}

.section-dark {
  background: #cccccc;
  padding: 2rem;
}

.section-two-light {
  padding: 2rem;
}

img.float-md-end {
  border-radius: 50px;
}

.cool-stuff-btn-wrapper {
  margin-top: 20px;
}

button.cool-stuff-btn {
  background-color: red;
  color: #ffffff;
  display: block;
  margin: auto;
  &:hover {
    background-color: rgb(243, 38, 38);
    color: #ffffff;
  }
}

h1.modal-title {
  margin: auto;
}

.modal-form-wrapper {
  padding: 2rem;
}

.center-img {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 67%;
}
